/**********************************************************GENERAL STYLES*****************************************************************************************/

body{
    font-family: Lato,sans-serif;
    margin: 0;
     background: #FFF;
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: #333;
}
::selection {
    background: rgba(0, 0, 0, .5);
    color: #fff;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-style: inset 0 0 6px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .7);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, .3);
}

/*******HELPER CLASSES*************/
.container{
    width:770px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}

.clearfix:after,
.row:after {
    content: '';
    display: block;
    clear: both;
}

.row{
    margin-left:-15px;
}
.row .col-12{
    float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-4{
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-6{
    float: left;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-1{
    float: left;
    width: 8.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-11{
    float: left;
    width: 91.6%;
    padding: 15px;
    box-sizing: border-box;
}

[class*=col-].no-top-bottom-padding{
    padding-bottom: 0;
    padding-top: 0;
}
.row.no-top-bottom-padding [class*=col-]{
    padding-bottom: 0;
    padding-top: 0;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    
    text-align: justify;
}
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px!important;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding: 40px;
}
.p-t-10{
    padding-top: 10px!important;
}
.p-b-10{
    padding-bottom: 10px;
}
.m-0{
    margin: 0;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.m-30{
    margin: 30px;
}
.m-40{
    margin: 40px;
}
.img-responsive{
    width: 100%;
}
/**************************************************************NAVBAR CLASSES******************************/
.navbar{
    width: 100%;
    height: 45px;
    line-height: 45px;
}
.navbar-dark{
    background: #000;
    color: #FFF;
}
.navbar-fixed{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
.navbar-blue{
    background: #6341C9;
}
.navbar-dark a:link{
    color: #FFF;
}
.menu, .sub-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu .menu-item{
    display: inline-block;
     text-transform: uppercase;
}
 .menu .menu-item a{
    display:block;
    padding: 0 20px;
    height: 100%;
     text-decoration: none;
   
}
.has-sub-menu{
    position: relative;
}
 .has-sub-menu .sub-menu-list{
    position: absolute;
    left: 0;
    background: #FFF;
     color: #333;
    width: 162px;
}
.sub-menu-list .sub-menu .menu-item{
    text-transform: capitalize;
    display: block;
}

.navbar-dark .menu .menu-item a:link,
.navbar-dark .menu .menu-item a:visited{
    color: #FFF;
}
.navbar-dark .menu .menu-item a:hover,
.navbar-dark .menu .menu-item.has-sub-menu:hover>a{
    background: #CCC;
    color: #333;
}
 .navbar-blue .menu .menu-item:hover,
{
    background: #ebdcd9;
}
.sub-menu-list .sub-menu .menu-item a:link,
.sub-menu-list .sub-menu .menu-item a:visited{
    color: #333;
}
.sub-menu{
    display: none;
}
.has-sub-menu:hover .sub-menu{
    display: block;
}
.has-sub-menu:hover{
    background: #CCC;
    color: #333;
}
.search-box{
    padding: 0 20px;
}
.search-box:hover{
    background: red;
    cursor: pointer;
}
/*************************************************************************************************************************************************************************SLIDER*********************************************************************************************************************************************************************************************************************************/
.slider{
    max-width: 100%;
}
.slider-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.slider .slider-image{
    width: 100%;
}
.slider-item .image-caption{
    position: absolute;
    bottom: 10px;
    color: #FFF;
    width: 100%;
    text-align: center;
}
.image-caption .caption-title{
    font-size: 30px;
}
/*************************************Section******************************************************/
.section{
    padding: 85px 0;
    
}


.section-white{
    background: #FFF;
    color: #333;
}
.section-black{
    background: #000;
    color: #FFF;
}
.section .section-heading h2{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 4;
    margin: 0 0 18px;
}
.section .section-heading p{
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    margin: 0;
}
.section-white .section-heading p{
    color: dimgray;
}
.section-black .section-heading p{
    color: #AAA;
}
/******************************************************************************************************************************************************************************BANDSECTION************************************************************************************************************************************************************************************************************************************************************************/
.photographer{
    text-align: center;
}
.photographer img{
    width: 155px;
}
/******************************************************************************************************************************************************************************toursection*********************************************************************************/
.tours{
    background: #FFF;
    color: #333;
}
.tour-list{
list-style: none;
    color: #797775;
}
.tour-item{
    padding: 10px 15px;
    border-bottom: solid 1px #DDD;
}
.tour-item:last-child{
    border: none;
}
.tour-item:not(.last-item){
    border-bottom: solid 1px #DDD;
}
.sold-out{
    background: #f44336;
    color: #fff;
    text-transform: capitalize;
    padding: 2px 5px;
    margin-left: 20px;
}
.badge{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
}
.badge-black{
    background: #000;
    color: #fff;
}
.event {
    position: relative;
    line-height: 0;
}
.event img {
    width: 100%;
}

.event .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: none;
}
.event:hover .overlay {
    display: block;
}

.event-content {
    padding: 10px;
    background: #fff;
    color: #333;
}

.event-date {
    color: #999;
}
/**************************************************************************************
***********************************BUTTON CLASSES**************************************
**************************************************************************************/



.btn {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: #333;
    border: solid 1px #333;
}

.btn-default {
    background: #000;
    border-color: #000;
    color: #fff;
}

.btn-default:hover {
    background: #ccc;
    color: #333;
    cursor: pointer;
    border-color: #ccc;
}

.btn-blue {
    background: #0077b6;
    border-color: #0077b6;
    color: #fff;
}

.btn-blue:hover {
    background: #0077b6;
    color: #fff;
    cursor: pointer;
    border-color: #0077b6;
}


.btn-default-outline {
    background: #fff;
    border: solid 1px #333;
    color: #333;
}


.btn-blue-outline {
    background: #fff;
    border: solid 1px #0077b6;
    color: #0077b6;
}

.btn-rounded {
    border-radius: 5px;
}

/**********************************************************contact SECTION************************************************************/
.form-control{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: solid 1px #CCC;
    margin-bottom: 5px;
}
.contact-details p,
.contact-details i{
    font-size: 18px;
}
/*******************img****************************************************************************************************************************************************/
.grayscale{
    filter: grayscale(50%);
}
/***********************footer*********************************************************************************************/
footer.section-white {
    color: #777;
}

.social-icons {
    font-size: 24px;
}

.social-icons:hover {
    color: #999;
}
.map  .grayscale{
    max-width: 100%;
}

/*MEDIA QUERIES*/
@media(max-width:550px) {
    .container {
        width: 90%;
    }

    .right-section {
        display: none;
    }

    .row .col-6 {
        width: 100%;
    }

    .row .col-4 {
        width: 100%;
    }

    .row .col-3 {
        width: 100%;
    }
    .image-caption{
        margin-bottom: 300px;
    }
}

@media(min-width:551px) and (max-width:768px) {
    .container {
        width: 90%;
    }
    .image-caption{
        margin-bottom: 300px;
    }
}



   

